@using devplex.GitServer.Mvc.Extensions
@model dynamic

<div class="row">
    <div class="large-12 columns">
        <h1>FAQ</h1>

        <h2>How to fix the SSL3 error?</h2>
        <p>
            Open or create the file
        </p>
        <code>C:\Users\@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))\.gitconfig</code>
        <p>Add the following lines:</p>
        <code>[http]<br />
            sslVerify = true<br />
            sslCAinfo = C:/Users/@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))/devplex-ssl.pem<br />
        </code>
        <p>or use these commands:</p>
        <code>git config --global http.sslVerify true
            <br />
            git config --global http.sslCAinfo c:/Users/devplex/@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))/devplex-ssl.pem
        </code>
        <p>
            Open or create the file
        </p>
        <code>C:\Users\@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))\devplex-ssl.pem</code>
        <p>Add the following certificates:</p>
        <ul>
            <li>devplex Root CA
    <ul>
        <li>devplex Sub CA 01</li>
        <ul>
            <li>devplex Git SSL Certificate</li>
        </ul>
    </ul>
            </li>

      <li>DigiCert HighAssurance EV Root CA
    <ul>
      <li>DigiCert HighAssurance EV CA 1
        <ul>
          <li>github.com SSL certificate</li>
        </ul>
      </li>
    </ul>

      </li>
    </ul>

    <p>created by converting DER encoded *.cer using <a href="http://www.openssl.org/related/binaries.html">openSSL</a> on the powershell command line:</p>
    <code>& "{PathToBinary}\openssl.exe" x509 -in input.cer -inform DER -out output.pem -outform PEM
    </code>
    <p>Or copy the following text from the textbox to the file:</p>
    <textarea class="source">
  -----BEGIN CERTIFICATE-----
MIIG/jCCBOagAwIBAgIQa8iv19TWJI5L7CvGj2671zANBgkqhkiG9w0BAQsFADA5
MQswCQYDVQQGEwJERTEQMA4GA1UECgwHZGV2cGxleDEYMBYGA1UEAwwPZGV2cGxl
eCBSb290IENBMB4XDTEzMDQwNjIzMDEyMVoXDTMzMDQwNjIzMTExNlowOTELMAkG
A1UEBhMCREUxEDAOBgNVBAoMB2RldnBsZXgxGDAWBgNVBAMMD2RldnBsZXggUm9v
dCBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAJ63JAOcCIcV7v44
XVNqXukXY1bfjRCE5AwntGCpcnZVqfVEmuZwvamqC6LagHJSYj9SccIM/WW9wQIO
FYGjsjd/ZTsyIzlbAYcC2JvvhisK+ohLVezhGNiWBMgmQk/sCptUDPhNCYXDy52u
q0ros447g+IUeHcsu/H0AvS+XyzW46Mh+JU8jE56BEmldz/QhaNDg8D+C2wDXU0I
s5z/5x+keLrm4aq4oqd3KGh5EF1nBgd05c/Ozfpsoyox/2K6HKZIwgMlPdbo0UV3
PlYCsKx4+QIwNDwo5uQIwtrUqRX07Ds2RcA8233ukb7Nhtk+24ac4Q4HbmSyjPo0
0Qz3TYX5qFP7tGXMW7+yJj/T+Q74zD35/dg4Oy2Rp7PF3nhWIKknqFQ8z2L0D/fn
BhSkMOTLdZVmEQE2ZYqQ5MlhtbtaLp8I6KInXRb0NvNEimzcPYfjrp+xFct1+FNG
oylaRxCHkb8STUrM51hdWKj6SVFdbzc6asSTF1JYUmXdu7w/NxMLwEsLy0bwc7+j
vxX71v+Vvvy9uuDZyqzvjYMQc1HANRwp7xQ1fK7nOMBFJ3SOL39iX7Rxnh73WBe/
QEL4HdV7QMP5kyWL+liIyoz/d3taUsPBpi23TizZXv82wEWtNY0jafunDfmbmjt6
I3Nw9Xakt3/9vl2N0g+8M6m/EJs7AgMBAAGjggIAMIIB/DAOBgNVHQ8BAf8EBAMC
AQYwEgYDVR0TAQH/BAgwBgEB/wIBATAdBgNVHQ4EFgQU/3vP2a5KFmprBnbqFs+l
Cgza5bAwggG1BgNVHSAEggGsMIIBqDCCAaQGDCsGAQQBgrQIg30BCjCCAZIwJAYI
KwYBBQUHAgEWGGh0dHA6Ly9wa2kuZGV2cGxleC5uZXQvADCCAWgGCCsGAQUFBwIC
MIIBWh6CAVYAZABlAHYAcABsAGUAeAAgAFIAbwBvAHQAIABDAEEAIABMAGUAdgBl
AGwAIAAxACAAUABLAEkAIAAtACAARgBvAHIAIABEAGUAdABhAGkAbABzACAAcgBl
AGYAZQByACAAdABvACAAQwBlAHIAdABpAGYAaQBjAGEAdABlACAAUABvAGwAaQBj
AHkAIABhAG4AZAAgAEMAZQByAHQAaQBmAGkAYwBhAHQAaQBvAG4AIABQAHIAYQBj
AHQAaQBjAGUAIABTAHQAYQB0AGUAbQBlAG4AdAAgAGkAbgAgAHQAaABlAGkAcgAg
AHIAZQBzAHAAZQBjAHQAaQB2AGUAIABsAGEAdABlAHMAdAAgAHIAZQBsAGUAYQBz
AGUALgAgAFUAbgBhAHUAdABoAG8AcgBpAHoAZQBkACAAdQBzAGUAIABwAHIAbwBo
AGkAYgBpAHQAZQBkAC4wDQYJKoZIhvcNAQELBQADggIBAA8e7Lk+pjXCYWWdtoYc
oMvv/IQBY7qhqIJN+mScleqAbJPNL1bkk3TfZo/s+bBAQeUKCj0fNydBWOk85htb
LgqIkWW9K2rGPxE0or5fKNSsmxiOsfgRegTSzkTaXbNqot1IIWqi7Semh8Of8nh0
NrzQImh6w6j6O0X573XewTie38S2lhHdQuk5ZZT1WFQq+769F0fBYu3M8cYleyak
5s+JoXDTdHfzu250BM/+eLS6mf5iH4HEmHE/EBwPDsh4xCOVf6XgCurPmAnyQXnN
TIraehlKjFS9q4fv+hqfQUsM8a+5BNxk51Vg+UOlqHoIxGvxAWISJW3wVbfW9jS3
5zMHZLUjcDsIDzSaqvBymOihtFUcnGorl+M2WzbOr0qFAZqAT7J4Ci1DYsBYydEK
ZOf+FYmE/IJw+eCc3eSPG68kdWLVgqDAbum86P8FMdfLEQIgQo5Uglx3HlLtcI0T
hlBWL+XOE/YlVIFBw9p1hsziR3In8g9NqX+6p2qr7uyDkphpZ0kmcNNQhEkJaagN
metk91rBpk/W6AUY39bkoKGVZSv/mu3f+leclFRWoyIpLSB7RwvjcN3a3kFFDQ2g
uzoq7UPZ/mX7xPz4x6GBsrRnrWigLZuRPjX1VauzXJAE1urIdil01zZNiV70ivDX
QjQF0D6qHmjQ+fmpBCTMVwLy
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIGsTCCBJmgAwIBAgITWAAAAAICPHYKucCKmQAAAAAAAjANBgkqhkiG9w0BAQsF
ADA5MQswCQYDVQQGEwJERTEQMA4GA1UECgwHZGV2cGxleDEYMBYGA1UEAwwPZGV2
cGxleCBSb290IENBMB4XDTEzMDQwNzAwMDAyOVoXDTE4MDQwNzAwMTAyOVowOzEL
MAkGA1UEBhMCREUxEDAOBgNVBAoMB2RldnBsZXgxGjAYBgNVBAMMEWRldnBsZXgg
U3ViIENBIDAxMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqKC5U0v6
4wTy5C/SXMOKizEMLOushHbeAdbuU+ygS8vuCZYVrAMHko5hJfcyP8/dhhwDckru
yhFVZCooq1eErMp+e47I5QAF/6veJGwFzosnwOKd7jdD4USFAzIAtV0QjbZzJMj1
1u1dCR4HP85dIIMlC3MBj+Y5FnFYkL1NZBFk7aP98SmJFfPjsIHWjCIoKuwF3Zsq
Ny42LbydTF/8n3UnT2qP9eeKp9J0mU/a6rQVwiVl+fCUobjGC20H2hrWPmiH9FRX
pCFXdm5tBB7qc35r1fJgnIjXFwkQtFqMIovED0vRV5mI+22xvKNBsCMu9PHZ4B+d
lwV4VoA99tL/9wIDAQABo4ICrjCCAqowDgYDVR0PAQH/BAQDAgEGMB0GA1UdDgQW
BBSxglbWDxb2tHXgRcQqcIeT8CbiIzCCAbUGA1UdIASCAawwggGoMIIBpAYMKwYB
BAGCtAiDfQEKMIIBkjAkBggrBgEFBQcCARYYaHR0cDovL3BraS5kZXZwbGV4Lm5l
dC8AMIIBaAYIKwYBBQUHAgIwggFaHoIBVgBkAGUAdgBwAGwAZQB4ACAAUgBvAG8A
dAAgAEMAQQAgAEwAZQB2AGUAbAAgADEAIABQAEsASQAgAC0AIABGAG8AcgAgAEQA
ZQB0AGEAaQBsAHMAIAByAGUAZgBlAHIAIAB0AG8AIABDAGUAcgB0AGkAZgBpAGMA
YQB0AGUAIABQAG8AbABpAGMAeQAgAGEAbgBkACAAQwBlAHIAdABpAGYAaQBjAGEA
dABpAG8AbgAgAFAAcgBhAGMAdABpAGMAZQAgAFMAdABhAHQAZQBtAGUAbgB0ACAA
aQBuACAAdABoAGUAaQByACAAcgBlAHMAcABlAGMAdABpAHYAZQAgAGwAYQB0AGUA
cwB0ACAAcgBlAGwAZQBhAHMAZQAuACAAVQBuAGEAdQB0AGgAbwByAGkAegBlAGQA
IAB1AHMAZQAgAHAAcgBvAGgAaQBiAGkAdABlAGQALjASBgNVHRMBAf8ECDAGAQH/
AgEAMB8GA1UdIwQYMBaAFP97z9muShZqawZ26hbPpQoM2uWwMD8GA1UdHwQ4MDYw
NKAyoDCGLmh0dHA6Ly9wa2kuZGV2cGxleC5uZXQvY2RwL2RldnBsZXggUm9vdCBD
QS5jcmwwSgYIKwYBBQUHAQEEPjA8MDoGCCsGAQUFBzAChi5odHRwOi8vcGtpLmRl
dnBsZXgubmV0L2FpYS9kZXZwbGV4IFJvb3QgQ0EuY3J0MA0GCSqGSIb3DQEBCwUA
A4ICAQBEGs+s9KUPi5CasCe01EE9PADxk5tr7zr7BaA+3NSpeGkqaLtodxJgrgRi
z1aH2au3IHXV/CyR3M7Pz50mTtsLDtTBT+x49Qd0wOHOmANSIwzJKBnWKCM3yPlK
Ug01kiDMHFgK37xc5HeoFGxquV9jnnBYu4mOS5ms0vXVHUR/TPzgG8XkQA94LYVV
/UKgFCg32cG1X8+vfhSkqM36y1r+aslAQN3SMH2VHqbE7QtEXmAiOSmEpKUnNrWl
ZmZpivWxVVyVcCZ1J0O1Szar9LSIBj2sjGlcisrBckzLoNjqQ83Ate+X2XQ6EOmq
LGVU5W6S3gaHmqgI4pr7xUVX0Wn2dnZqmHnQzg++sOfLNzGyhPJdsgHYxJk975zO
X+R7oSrSXw2NgSoBPy/rf3Am9tqMSjfv6YNomNP67r1f01I0fJy7uNcWvre72TYv
1AH+i8aJhd4lfUJS9b5DzLXQiVC6R42b7R6OlFvaIoy8npwyz+fHOd04QdD9ftOw
X2dJ6ZH8k9wUU4kkOo0epPnpEyzNJp18iqH0/Ixyt/MZsYnXXc03Ny2P0wv57w4C
zOQ1ovz8oAGAmu0lkvoEfJh56PKJh5neTBRQ78gqV2xgFrxXj9FOwoS0rr4jiNPz
W09bViJzomvmmraXoU3YdM9w0m+sxYc52SjiGbSJoJeoYa4kXw==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIEvjCCA6agAwIBAgITGwAAAA5938gaZio+iwAAAAAADjANBgkqhkiG9w0BAQsF
ADA7MQswCQYDVQQGEwJERTEQMA4GA1UECgwHZGV2cGxleDEaMBgGA1UEAwwRZGV2
cGxleCBTdWIgQ0EgMDEwHhcNMTMwNTIyMjIzNjUzWhcNMTUwNTIyMjIzNjUzWjAY
MRYwFAYDVQQDDA0qLmRldnBsZXgubmV0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAuhS8Ujjl+wnnWb07LW4IGpu+r3SzEHrpdXEghFiUwNV5tYmgXdz4
PxezQ5AxVKdoJqUocja6usYOsgAckSl1NieeExWlwJQ3gfTnyHvSIFMgtuEK0fIh
47urScSj+GKDeJwMJLB3rhA4Pz6BRSH/+TLaYjW/1vYtxVhim0dfqNQiQFVWjTNW
pZCPXU8bs5AD4zg3UYI4iiDJDWUSvWP+RiHL8Hz6bd3YBIqh5Ra0gyi52lmxsTE5
rNkq4arw9j4C3P3Navk+8nuYu0qYy+xLAd5OOhlxgnu6/p3MPlxPTwD6/2HGmKZh
tQ8kwtNxsYe2118Zzy3Hb2tcqWlYdtcliQIDAQABo4IB3DCCAdgwPAYJKwYBBAGC
NxUHBC8wLQYlKwYBBAGCNxUIgur8QIKgkSmdjQ6C2sgmhuPabT+Fr5BBhafhJgIB
ZAIBETAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUIAgIwDgYDVR0PAQH/BAQD
AgWgMEEGA1UdIAQ6MDgwNgYMKwYBBAGCtAiDfQEKMCYwJAYIKwYBBQUHAgEWGGh0
dHA6Ly9wa2kuZGV2cGxleC5uZXQvADAnBgkrBgEEAYI3FQoEGjAYMAoGCCsGAQUF
BwMBMAoGCCsGAQUFCAICMB0GA1UdDgQWBBQ2AIiUu04ipzzP3QoxBh3UKPVL1DAf
BgNVHSMEGDAWgBSxglbWDxb2tHXgRcQqcIeT8CbiIzBBBgNVHR8EOjA4MDagNKAy
hjBodHRwOi8vcGtpLmRldnBsZXgubmV0L2NkcC9kZXZwbGV4IFN1YiBDQSAwMS5j
cmwwegYIKwYBBQUHAQEEbjBsMDwGCCsGAQUFBzAChjBodHRwOi8vcGtpLmRldnBs
ZXgubmV0L2FpYS9kZXZwbGV4IFN1YiBDQSAwMS5jcnQwLAYIKwYBBQUHMAGGIGh0
dHA6Ly9vY3NwLnBraS5kZXZwbGV4Lm5ldC9vY3NwMA0GCSqGSIb3DQEBCwUAA4IB
AQBqFW9ntfHS/v2LN35AcW2d3XGuFhwVlh7B2j52sTMKEFvJ/ikTE4+fd9e3kPTx
x7vD1vqldqDE4StMS8m0nGnRs0sKrReT1716q/JjM4B4eaoX3LRk/Rd17ptShKpr
F9kEwXUXrRbtG6Ny491A1XBIJy7oL4AV07DqukekizSL5A7F/7SMx7+YA4mBjelm
Un1wPDb89Ft6gMkJUDTlOaWH3NSVOYtj+/fXl1ygjY2C8e6UPJwcXXmfnTx/dU4T
TFfqe9GZdH4N8LbbwxHS7w9P6b0/z6jVllSqOicmJgrWL9fJIddsq9VgRZADqOqw
NIPEv17TEIOm+2K2fXr0jsFg
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDxTCCAq2gAwIBAgIQAqxcJmoLQJuPC3nyrkYldzANBgkqhkiG9w0BAQUFADBs
MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
d3cuZGlnaWNlcnQuY29tMSswKQYDVQQDEyJEaWdpQ2VydCBIaWdoIEFzc3VyYW5j
ZSBFViBSb290IENBMB4XDTA2MTExMDAwMDAwMFoXDTMxMTExMDAwMDAwMFowbDEL
MAkGA1UEBhMCVVMxFTATBgNVBAoTDERpZ2lDZXJ0IEluYzEZMBcGA1UECxMQd3d3
LmRpZ2ljZXJ0LmNvbTErMCkGA1UEAxMiRGlnaUNlcnQgSGlnaCBBc3N1cmFuY2Ug
RVYgUm9vdCBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMbM5XPm
+9S75S0tMqbf5YE/yc0lSbZxKsPVlDRnogocsF9ppkCxxLeyj9CYpKlBWTrT3JTW
PNt0OKRKzE0lgvdKpVMSOO7zSW1xkX5jtqumX8OkhPhPYlG++MXs2ziS4wblCJEM
xChBVfvLWokVfnHoNb9Ncgk9vjo4UFt3MRuNs8ckRZqnrG0AFFoEt7oT61EKmEFB
Ik5lYYeBQVCmeVyJ3hlKV9Uu5l0cUyx+mM0aBhakaHPQNAQTXKFx01p8VdteZOE3
hzBWBOURtCmAEvF5OYiiAhF8J2a3iLd48soKqDirCmTCv2ZdlYTBoSUeh10aUAsg
EsxBu24LUTi4S8sCAwEAAaNjMGEwDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQF
MAMBAf8wHQYDVR0OBBYEFLE+w2kD+L9HAdSYJhoIAu9jZCvDMB8GA1UdIwQYMBaA
FLE+w2kD+L9HAdSYJhoIAu9jZCvDMA0GCSqGSIb3DQEBBQUAA4IBAQAcGgaX3Nec
nzyIZgYIVyHbIUf4KmeqvxgydkAQV8GK83rZEWWONfqe/EW1ntlMMUu4kehDLI6z
eM7b41N5cdblIZQB2lWHmiRk9opmzN6cN82oNLFpmyPInngiK3BD41VHMWEZ71jF
hS9OMPagMRYjyOfiZRYzy78aG6A9+MpeizGLYAiJLQwGXFK3xPkKmNEVX58Svnw2
Yzi9RKR/5CYrCsSXaQ3pjOLAEFe4yHYSkVXySGnYvCoCWw9E1CAx2/S6cCZdkGCe
vEsXCS+0yx5DaMkHJ8HSXPfqIbloEpw8nL+e/IBcm2PN7EeqJSdnoDfzAIJ9VNep
+OkuE6N36B9K
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIG4zCCBcugAwIBAgIQCLuwJUcTS8mxENfBohJZxTANBgkqhkiG9w0BAQUFADBs
MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
d3cuZGlnaWNlcnQuY29tMSswKQYDVQQDEyJEaWdpQ2VydCBIaWdoIEFzc3VyYW5j
ZSBFViBSb290IENBMB4XDTA2MTExMDAwMDAwMFoXDTIxMTExMDAwMDAwMFowaTEL
MAkGA1UEBhMCVVMxFTATBgNVBAoTDERpZ2lDZXJ0IEluYzEZMBcGA1UECxMQd3d3
LmRpZ2ljZXJ0LmNvbTEoMCYGA1UEAxMfRGlnaUNlcnQgSGlnaCBBc3N1cmFuY2Ug
RVYgQ0EtMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPOWYth1bhn/
PzR8SU8xfg0ETpmB4rOFVZEwscCvcLssqOcYqj9495BoUoYBiJfiOwZlkKq9ZXbC
7L4QWzd4g2B1Rca9dKq2n6Q6AVAXxDlpufFP74LByvNK28yeUE9NQKM6kOeGZrzw
PnYoTNF1gJ5qNRQ1A57bDIzCKK1Qss72kaPDpQpYSfZ1RGy6+c7pqzoC4E3zrOJ6
4GAiBTyC01Li85xH+DvYskuTVkq/cKs+6WjIHY9YHSpNXic9rQpZL1oRIEDZaARo
LfTAhAsKG3jf7RpY3PtBWm1r8u0c7lwytlzs16YDMqbo3rcoJ1mIgP97rYlY1R4U
pPKwcNSgPqcCAwEAAaOCA4IwggN+MA4GA1UdDwEB/wQEAwIBhjA7BgNVHSUENDAy
BggrBgEFBQcDAQYIKwYBBQUHAwIGCCsGAQUFBwMDBggrBgEFBQcDBAYIKwYBBQUH
AwgwggHEBgNVHSAEggG7MIIBtzCCAbMGCWCGSAGG/WwCATCCAaQwOgYIKwYBBQUH
AgEWLmh0dHA6Ly93d3cuZGlnaWNlcnQuY29tL3NzbC1jcHMtcmVwb3NpdG9yeS5o
dG0wggFkBggrBgEFBQcCAjCCAVYeggFSAEEAbgB5ACAAdQBzAGUAIABvAGYAIAB0
AGgAaQBzACAAQwBlAHIAdABpAGYAaQBjAGEAdABlACAAYwBvAG4AcwB0AGkAdAB1
AHQAZQBzACAAYQBjAGMAZQBwAHQAYQBuAGMAZQAgAG8AZgAgAHQAaABlACAARABp
AGcAaQBDAGUAcgB0ACAARQBWACAAQwBQAFMAIABhAG4AZAAgAHQAaABlACAAUgBl
AGwAeQBpAG4AZwAgAFAAYQByAHQAeQAgAEEAZwByAGUAZQBtAGUAbgB0ACAAdwBo
AGkAYwBoACAAbABpAG0AaQB0ACAAbABpAGEAYgBpAGwAaQB0AHkAIABhAG4AZAAg
AGEAcgBlACAAaQBuAGMAbwByAHAAbwByAGEAdABlAGQAIABoAGUAcgBlAGkAbgAg
AGIAeQAgAHIAZQBmAGUAcgBlAG4AYwBlAC4wDwYDVR0TAQH/BAUwAwEB/zCBgwYI
KwYBBQUHAQEEdzB1MCQGCCsGAQUFBzABhhhodHRwOi8vb2NzcC5kaWdpY2VydC5j
b20wTQYIKwYBBQUHMAKGQWh0dHA6Ly93d3cuZGlnaWNlcnQuY29tL0NBQ2VydHMv
RGlnaUNlcnRIaWdoQXNzdXJhbmNlRVZSb290Q0EuY3J0MIGPBgNVHR8EgYcwgYQw
QKA+oDyGOmh0dHA6Ly9jcmwzLmRpZ2ljZXJ0LmNvbS9EaWdpQ2VydEhpZ2hBc3N1
cmFuY2VFVlJvb3RDQS5jcmwwQKA+oDyGOmh0dHA6Ly9jcmw0LmRpZ2ljZXJ0LmNv
bS9EaWdpQ2VydEhpZ2hBc3N1cmFuY2VFVlJvb3RDQS5jcmwwHQYDVR0OBBYEFExY
yyXwQU9S9CjIgUObpqig5pLlMB8GA1UdIwQYMBaAFLE+w2kD+L9HAdSYJhoIAu9j
ZCvDMA0GCSqGSIb3DQEBBQUAA4IBAQBQHkOw900pllu7p9MKtbXV0Ceq+a/HJdGV
1S9aU71CB354ScoL60xV4uovf0mtx//RLT6coGQrUZ6RJii7h7t1fLyh/WZoLkxK
Fsz+Bs8x6oBu5L3oA3L2JbVBg2HQlwonHbP3KzKEj1vnzD/iLGeGlPSyK2xSO2cq
jViVABRGJKwL+smOxyaA39Hhl+P4u2jGnL2+CFQ7EDJ8gR8rKJWoQQrG0DBmtOny
ogBpIAfKgkwez6eYuAzuzRYcvhpj1MCZ9mey8I4XLVjCgKpdlsezKO3w2o62RxuP
ThXxl0wLS6+B1EaUYixDpzwlSBlj8lyqFYl2hIVzkX0oPAmDgrz3
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIHKjCCBhKgAwIBAgIQDnd2il0H8OV5WcoqnVCCtTANBgkqhkiG9w0BAQUFADBp
MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
d3cuZGlnaWNlcnQuY29tMSgwJgYDVQQDEx9EaWdpQ2VydCBIaWdoIEFzc3VyYW5j
ZSBFViBDQS0xMB4XDTExMDUyNzAwMDAwMFoXDTEzMDcyOTEyMDAwMFowgcoxHTAb
BgNVBA8MFFByaXZhdGUgT3JnYW5pemF0aW9uMRMwEQYLKwYBBAGCNzwCAQMTAlVT
MRswGQYLKwYBBAGCNzwCAQITCkNhbGlmb3JuaWExETAPBgNVBAUTCEMzMjY4MTAy
MQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTEWMBQGA1UEBxMNU2Fu
IEZyYW5jaXNjbzEVMBMGA1UEChMMR2l0SHViLCBJbmMuMRMwEQYDVQQDEwpnaXRo
dWIuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7dOJw11wcgnz
M08acnTZtlqVULtoYZ/3+x8Z4doEMa8VfBp/+XOvHeVDK1YJAEVpSujEW9/Cd1JR
GVvRK9k5ZTagMhkcQXP7MrI9n5jsglsLN2Q5LLcQg3LN8OokS/rZlC7DhRU5qTr2
iNr0J4mmlU+EojdOfCV4OsmDbQIXlXh9R6hVg+4TyBkaszzxX/47AuGF+xFmqwld
n0xD8MckXilyKM7UdWhPJHIprjko/N+NT02Dc3QMbxGbp91i3v/i6xfm/wy/wC0x
O9ZZovLdh0pIe20zERRNNJ8yOPbIGZ3xtj3FRu9RC4rGM+1IYcQdFxu9fLZn6TnP
pVKACvTqzQIDAQABo4IDajCCA2YwHwYDVR0jBBgwFoAUTFjLJfBBT1L0KMiBQ5um
qKDmkuUwHQYDVR0OBBYEFIfRjxlu5IdvU4x3kQdQ36O/VUcgMCUGA1UdEQQeMByC
CmdpdGh1Yi5jb22CDnd3dy5naXRodWIuY29tMIGBBggrBgEFBQcBAQR1MHMwJAYI
KwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmRpZ2ljZXJ0LmNvbTBLBggrBgEFBQcwAoY/
aHR0cDovL3d3dy5kaWdpY2VydC5jb20vQ0FDZXJ0cy9EaWdpQ2VydEhpZ2hBc3N1
cmFuY2VFVkNBLTEuY3J0MAwGA1UdEwEB/wQCMAAwYQYDVR0fBFowWDAqoCigJoYk
aHR0cDovL2NybDMuZGlnaWNlcnQuY29tL2V2MjAwOWEuY3JsMCqgKKAmhiRodHRw
Oi8vY3JsNC5kaWdpY2VydC5jb20vZXYyMDA5YS5jcmwwggHEBgNVHSAEggG7MIIB
tzCCAbMGCWCGSAGG/WwCATCCAaQwOgYIKwYBBQUHAgEWLmh0dHA6Ly93d3cuZGln
aWNlcnQuY29tL3NzbC1jcHMtcmVwb3NpdG9yeS5odG0wggFkBggrBgEFBQcCAjCC
AVYeggFSAEEAbgB5ACAAdQBzAGUAIABvAGYAIAB0AGgAaQBzACAAQwBlAHIAdABp
AGYAaQBjAGEAdABlACAAYwBvAG4AcwB0AGkAdAB1AHQAZQBzACAAYQBjAGMAZQBw
AHQAYQBuAGMAZQAgAG8AZgAgAHQAaABlACAARABpAGcAaQBDAGUAcgB0ACAAQwBQ
AC8AQwBQAFMAIABhAG4AZAAgAHQAaABlACAAUgBlAGwAeQBpAG4AZwAgAFAAYQBy
AHQAeQAgAEEAZwByAGUAZQBtAGUAbgB0ACAAdwBoAGkAYwBoACAAbABpAG0AaQB0
ACAAbABpAGEAYgBpAGwAaQB0AHkAIABhAG4AZAAgAGEAcgBlACAAaQBuAGMAbwBy
AHAAbwByAGEAdABlAGQAIABoAGUAcgBlAGkAbgAgAGIAeQAgAHIAZQBmAGUAcgBl
AG4AYwBlAC4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBEGCWCGSAGG
+EIBAQQEAwIGwDAOBgNVHQ8BAf8EBAMCBaAwDQYJKoZIhvcNAQEFBQADggEBABRS
cR+GnW01Poa7ZhqLhZi5AEzLQrVG/AbnRDnI6FLYERQjs3KW6RSUni8AKPfVBEVA
AMb0V0JC3gmJlxENFFxrvQv3GKNfZwLzCThjv8ESnTC6jqVUdFlTZ6EbUFsm2v0T
flkXv0nvlH5FpP06STLwav+JjalhqaqblkbIHOAYHOb7gvQKq1KmyuhUItnbKj1a
InuA6gcF1PnH8FNZX7t3ft6TcEFOI8t4eXnELurXZioY99HFfOISeIKNHeyCngGi
5QK+eKG5WVjFTG9PpTG0SVtemB4uOPYZxDmiSvt5BbjyWeUmEnCtwOh1Ix8Y0Qvg
n2Xkw9dJh1tybLEvrG8=
-----END CERTIFICATE-----
</textarea>

<h2>How to create a global ignore file?</h2>
<p>
  Open or create the file
</p>
<code>C:\Users\@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))\.gitconfig</code>
<p>Add the following lines:</p>
<code>
  [core]<br/>
  excludesfile = C:/Users/@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))/gitignore.txt<br/>
</code>
<p>
    <a href="@Url.Content("~/Content/gitignore.txt")" >Download this file</a> and save it as:
</p>
<code>C:\Users\@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))\gitignore.txt</code>


    <h2>How to use the windows credential store to remember passwords?</h2>
    <p>
      Download the latest version of the <a href="http://gitcredentialstore.codeplex.com/">git-credential-winstore.exe</a> application.
  Run it! If you have GIT in your PATH, it should just work. If you don't, run:
    </p>
    <code>git-credential-winstore -i C:\Program Files (x86)\Git\bin\Git.exe</code>

    <h2>How to create a repository?</h2>
    <p>
      Since there is (currently) no UI to initialize a new repository, it will be done automagically while cloning it for the first time.
    </p>
    <code>git clone @Url.RepositoryCloneUrl("/company/our/fancy/project.git")</code>
    <br />
    <code>git clone @Url.RepositoryCloneUrl("/***.git")</code>

    <h2>How to add files to a repository?</h2>
    <p>
      Run the following command on the command prompt
    </p>
    <code>git add --all .</code>


<h2>How to commit/push files to a repository?</h2>
<p>
  Run the following command on the command prompt to add all changes to the commit:
</p>
<code>git add --all .</code>
<p>
  Run the following command on the command prompt to commit to the local repository:
</p>
<code>git commit -m {YourMessage}</code>
<p>Use the following prefixes:</p>
<ul>
  <li>S: Specification</li>
  <li>F: Feature</li>
  <li>R: Refactoring</li>
  <li>B: Bugfix</li>
</ul>
<p>
  Run the following command on the command prompt to push to remote repository:
</p>
<code>git push</code>
<p>
  NOTE: If you just cloned a new empty (bare) repository you MUST run:
</p>
<code>git push origin master</code>

    <h2>How to update a local repository with changes from remote?</h2>
    <p>
      Run the following command on the command prompt to update the local repository:
    </p>
    <code>git pull -u</code>

    <h2>How to show the repository log?</h2>
    <p>
      Run the following command on the command prompt:
    </p>
    <code>git log --graph --pretty=format:'%Cred%h%Creset: %Creset %s %C(bold blue)<%an> %Cgreen(%cr) %Creset ' --abbrev-commit</code>


    <h2>How to see modified/added/deleted files?</h2>
    <p>
      Run the following command on the command prompt:
    </p>
    <code>git status</code>

    <h2>How to create a new branch?</h2>
    <p>
      Run the following command on the command prompt:
    </p>
    <code>git branch {NameOfTheBranch}</code>


    <h2>How to switch between branches?</h2>
    <p>
      Run the following command on the command prompt:
    </p>
    <code>git checkout {NameOfTheBranch}</code>


<h2>How to merge a branches?</h2>
<p>
  Run the following command on the command prompt to switch over to the main branch:
</p>
<code>git checkout {NameOfTheMasterBranch}</code>
<p>
  Run the following command on the command prompt to merge a branch into the main branch:
</p>
<code>git merge {NameOfTheHotfixOrFeatureBranch}</code>

    <h2>How to delete a branch?</h2>
    <p>
      Run the following command on the command prompt to delete a branch:
    </p>
    <code>git branch  -d {NameOfTheBranch}</code>

    <h2>How to exit VIM?</h2>
    <p>
      Run the following command on the command prompt to quit VIM:
    </p>
    <code>[w] + [q]</code>


<h2>How to configure Beyond Compare a visual merge tool?</h2>
<p>
  Open or create the file
</p>
<code>C:\Users\@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "{YourAccount}" : User.Identity.Name.Substring(User.Identity.Name.IndexOf(@"\") + 1))\.gitconfig</code>
<p>Add the following lines:</p>
<code>
[merge]<br/>
  tool = bc3<br/>
[mergetool.bc3]<br/>
  path = "C:/Program Files (x86)/Beyond Compare 3/bcomp.exe"<br/>
  cmd = "\"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""<br/>
  trustExitCode = true<br/>
  <br/>
[diff]<br/>
  tool = bc3<br/>
[difftool]<br/>
  prompt = false<br/>
[difftool.bc3]<br/>
  cmd = "\"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\""<br/>
</code>
<p>
  Run the following command to diff a file:
</p>
<code>git difftool {PathToFileToDiff}</code>
<p>
  Run the following command on the command merge a file:
</p>
<code>git mergetool {PathToFileToDiff}</code>

<h2>How to revert/see to a specific version of a file?</h2>
<p>
  Run the following command to see to a specific version:
</p>
<code>git show {HASH}:./{RelativePathToFile}</code>
<code>git show HEAD@@{YYYY-MM-DD}:./{RelativePathToFile}</code>
<p>
  Run the following command to revert to a specific version:
</p>
<code>git checkout {HASH}:./{RelativePathToFile}</code>
<p>
  Run the following command to revert all local changes:
</p>
<code>git reset --hard HEAD</code>
