@model IEnumerable<string>
<div class="row">
  <div class="large-12 columns">
    <h2>Repositories</h2>
    <form class="custom">
      <select id="organization">
        <option selected="selected" disabled="disabled">Select an organization</option>
        @foreach (var organization in Model)
        {
          <option>@organization</option>
        }
      </select>
    </form>
    <div id="repositories">
      <div class="spinner">
        <i class="icon-spinner icon-spin icon-large"></i>
      </div>
      <ul>
      </ul>
    </div>
  </div>
</div>