code, pre {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

.console {
  display: block;

  &:before {
    content: '> ';
  }
}

.tree {

  div {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: $body-icon-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.commits {

  li {
    margin-bottom: 20px;

    img {
      float: left;
      margin-right: 10px;
    }

    .commit-info {
      float: left; 
    }

    .commit-meta {
      font-size: 0.8em;
    }
  }
}