body {
  color: $body-font-color;
  background-color: $body-background-color;  

  font-size: 1em;
  font-family: $default-font;
  font-weight: lighter;
}

p {
  margin: 10px 0;
}

a {
  color: $body-icon-complement-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  padding: 10px 20px;
}

.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}