// COLORS
$body-background-color: #000000;
$body-font-color: #FFFFFF;

$body-icon-color: #99C17A;
$body-icon-complement-color: complement($body-icon-color);

$top-navigation-background-color: #333333;

// FONTS
$default-font: 'Source Sans Pro', sans-serif;