@import "settings";

.name {

  h1 {
    background-image: url('images/devplex-git-icon_30x30.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
  }
}

.console {
  margin-bottom: 40px;
}

.tree-icon {
  width: 20px;
}

.log-user-image {
  width: 70px;
}

 .section-name {
  margin-left: 5px; 
 }

 .small-headline {
  font-size: emCalc(23px);
 }

 pre.prettyprint {
  font-size: 0.8em;
 }