@model RepositoryBlob
<div class="row">
  <div class="large-12 columns">
    <h1 class="small-headline">@Model.FileName</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="section-container horizontal-nav" data-section="horizontal-nav">
      @Html.Partial("_RepositoryNavigation")
      <section>
        <p class="title" data-section-title>
          <a href="@Model.RawUrl">
            <i class="icon-download"></i><span class="section-name">Download file</span>
          </a>
        </p>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    @Html.RenderViewer(Model)
  </div>
</div>
