@model RepositoryBlob
<div class="row">
  <div class="large-12 columns">
    <a href="@Model.RawUrl">Download file</a>
    <br />
    @if (Model.IsMarkdown())
    {
      @Html.RenderMarkdown(Model.Content)
    }
    else if (Model.IsImage())
    {
      <img src="@Model.RawUrl" alt="" />
    }
    else if (Model.IsBinary())
    {

    }
    else
    {
      <pre class="prettyprint linenums">@Model.Content</pre>
      <script>
        prettyPrint();
      </script>
    }
  </div>
</div>
