@model RepositoryTreeViewModel
<div class="row">
  <div class="large-12 columns">
    <h1 class="small-headline">@Model.RepositoryPath</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="section-container horizontal-nav" data-section="horizontal-nav">
      @Html.Partial("_RepositoryNavigation")
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    @Html.Partial("_RepositoryTree", Model)
  </div>
</div>
