pre {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

.tree-branch-list {
  margin: 0;
  padding: 0;
}

.tree-branch-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

.tree-branch-list-last {
  margin-right: 20px;
}