/* line 3, D:/_Projects/_GitHub/GitServer/src/devplex.GitServer.Web/Content/sass/styles.scss */
.name h1 {
  background-image: url("/Content/images/devplex-git-icon_30x30.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

/* line 11, D:/_Projects/_GitHub/GitServer/src/devplex.GitServer.Web/Content/sass/styles.scss */
.console {
  margin-bottom: 40px;
}
/* line 14, D:/_Projects/_GitHub/GitServer/src/devplex.GitServer.Web/Content/sass/styles.scss */
.console code {
  background: #000000;
  color: #FFFFFF;
  padding: 10px;
}
/* line 19, D:/_Projects/_GitHub/GitServer/src/devplex.GitServer.Web/Content/sass/styles.scss */
.console code:before {
  content: '> ';
}
